@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/SystemManage/Role/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    })
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
        $("#F_Type").bindSelect({
            url: "/SystemManage/ItemsData/GetSelectJson",
            param: { enCode: "RoleType" }
        });
        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
        $("#permissionTree").treeview({
            height: 444,
            showcheck: true,
            url: "/SystemManage/RoleAuthorize/GetPermissionTree",
            param: { roleId: keyValue }
        });
    }
    function submitForm() {
        var postData = $("#form1").formSerialize();
        postData["permissionIds"] = String($("#permissionTree").getCheckedNodes());
        $.submitForm({
            url: "/SystemManage/Role/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        });
    }
</script>
<form id="form1">
    <div class="widget-body">
        <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
            <ul class="steps">
                <li data-target="#step-1" class="active"><span class="step">1</span>医生信息<span class="chevron"></span></li>
                <li data-target="#step-2"><span class="step">2</span>出诊信息<span class="chevron"></span></li>
            </ul>
        </div>
        <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
            <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">医生信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">姓名</th>
                                <td class="formValue">
                                    <input id="F_RealName" name="F_RealName" type="text" class="form-control required" placeholder="请输入姓名" />
                                </td>
                                <th class="formTitle">性别</th>
                                <td class="formValue">
                                    <select id="F_Gender" name="F_Gender" class="form-control required">
                                        <option value="true">男</option>
                                        <option value="false">女</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">职称</th>
                                <td class="formValue">
                                    <input id="F_MobilePhone" name="F_MobilePhone" type="text" class="form-control" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    专长
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    简介
                                </th>
                                <td class="formValue" colspan="3">
                                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="step-pane" id="step-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">出诊信息</h3>
                    </div>
                    <div class="panel-body" style="width: 98%;">
                        <table class="form">
                            <tr>
                                <th class="formTitle">星期一</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="MondayMorning" name="MondayMorning" type="checkbox"><label for="MondayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="MondayAfternoon" name="MondayAfternoon" type="checkbox"><label for="MondayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="MondayNight" name="MondayNight" type="checkbox"><label for="MondayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="MondayStop" name="MondayStop" type="checkbox"><label for="MondayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="MondayMorningCount" name="MondayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="MondayAfternoonCount" name="MondayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="MondayNightCount" name="MondayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期二</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="TuesdayMorning" name="TuesdayMorning" type="checkbox"><label for="TuesdayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="TuesdayAfternoon" name="TuesdayAfternoon" type="checkbox"><label for="TuesdayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="TuesdayNight" name="TuesdayNight" type="checkbox"><label for="TuesdayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="TuesdayStop" name="TuesdayStop" type="checkbox"><label for="TuesdayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="TuesdayMorningCount" name="TuesdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="TuesdayAfternoonCount" name="TuesdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="TuesdayNightCount" name="TuesdayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期三</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="WednesdayMorning" name="WednesdayMorning" type="checkbox"><label for="WednesdayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="WednesdayAfternoon" name="WednesdayAfternoon" type="checkbox"><label for="WednesdayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="WednesdayNight" name="WednesdayNight" type="checkbox"><label for="WednesdayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="WednesdayStop" name="WednesdayStop" type="checkbox"><label for="WednesdayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="WednesdayMorningCount" name="WednesdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="WednesdayAfternoonCount" name="WednesdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="WednesdayNightCount" name="WednesdayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期四</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="ThursdayMorning" name="ThursdayMorning" type="checkbox"><label for="ThursdayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="ThursdayAfternoon" name="ThursdayAfternoon" type="checkbox"><label for="ThursdayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="ThursdayNight" name="ThursdayNight" type="checkbox"><label for="ThursdayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="ThursdayStop" name="ThursdayStop" type="checkbox"><label for="ThursdayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="ThursdayMorningCount" name="ThursdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="ThursdayAfternoonCount" name="ThursdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="ThursdayNightCount" name="ThursdayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期五</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="FridayMorning" name="FridayMorning" type="checkbox"><label for="FridayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="FridayAfternoon" name="FridayAfternoon" type="checkbox"><label for="FridayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="FridayNight" name="FridayNight" type="checkbox"><label for="FridayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="FridayStop" name="FridayStop" type="checkbox"><label for="FridayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="FridayMorningCount" name="FridayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="FridayAfternoonCount" name="FridayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="FridayNightCount" name="FridayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期六</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="SaturdayMorning" name="SaturdayMorning" type="checkbox"><label for="SaturdayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SaturdayAfternoon" name="SaturdayAfternoon" type="checkbox"><label for="SaturdayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SaturdayNight" name="SaturdayNight" type="checkbox"><label for="SaturdayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SaturdayStop" name="SaturdayStop" type="checkbox"><label for="SaturdayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="SaturdayMorningCount" name="SaturdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="SaturdayAfternoonCount" name="SaturdayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="SaturdayNightCount" name="SaturdayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">星期日</th>
                                <td class="formValue">
                                    <div class="ckbox">
                                        <input id="SundayMorning" name="SundayMorning" type="checkbox"><label for="SundayMorning">上午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SundayAfternoon" name="SundayAfternoon" type="checkbox"><label for="SundayAfternoon">下午</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SundayNight" name="SundayNight" type="checkbox"><label for="SundayNight">晚上</label>
                                    </div>
                                    <div class="ckbox">
                                        <input id="SundayStop" name="SundayStop" type="checkbox"><label for="SundayStop">停诊</label>
                                    </div>
                                </td>
                                <th class="formTitle">
                                    <input id="SundayMorningCount" name="SundayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </th>
                                <td class="formTitle">
                                    <input id="SundayAfternoonCount" name="SundayMorningCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                                <td class="formTitle">
                                    <input id="SundayNightCount" name="SundayNightCount" type="text" class="form-control required" placeholder="数量" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-button" id="wizard-actions">
            <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
            <a id="btn_next" class="btn btn-default btn-next">下一步</a>
            <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
        </div>
    </div>
</form>
